@import '../constant.scss';

.user.layout {
  .container {
    max-width: 48rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;

    .search.bar {
      padding: .6rem 0;
      position: relative;
      input {
        box-sizing: border-box;
        border: 1px solid #CCC;
        padding: .3rem .6rem;
        width: 100%;
      }
      .icon {
        position: absolute;
        padding: 6px;
        font-size: 18px;
        top: 11px;
        right: 4px;
        cursor: pointer;
      }
    }

    .members {
      text-align: left;
      margin-bottom: 2rem;
    }

    .actions {
      text-align: center;
      display: flex;
      border-top: 1px solid #eee;
      padding-top: 20px;
      margin-top: 20px;
    }

    .action {
      width: 86px;
      margin: 0 0px 10px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      float: left;
      outline: none;
      &.subscribe, &.unsubscribe {
        display: none;
      }
      .action-icon {
        width: 48px;
        height: 48px;
        border-radius: 32px;
        display: block;
        margin: 0 auto;
        background: transparent none 0 0 no-repeat;
        background-size: contain;
      }
      .action-name {
        margin-top: 6px;
        display: block;
        font-size: 12px;
        color: #666;
      }
    }

    .action.unsubscribe {
      .action-icon {
        background-image: url(../images/notification-off-circle.png);
      }
    }

    .action.subscribe {
      .action-icon {
        background-image: url(../images/notification-circle.png);
      }
    }

    .action.subscriber {
      .action-icon {
        background-image: url(../images/users-circle.png);
      }
    }

    .action.red-packet {
      .action-icon {
        background-image: url(../images/luckymoney-circle.png);
      }
    }

    .action.elite-wallet {
      .action-icon {
        background-image: url(../images/wallet-circle.png);
      }
    }

    .action.gbi-news {
      .action-icon {
        background-image: url(../images/gbi.news.png);
      }
    }

    a.btn {
      color: #FF4B00;
      &:hover {
      }
    }

    .payment {
      text-align: center;
      .help {
        margin-bottom: 2rem;
      }
    }
  }

  .container.subscribers {
    padding: 0 .6rem;
    line-height: 2rem;
    li {
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      padding: .6rem;
    }
    img {
      border-radius: 1rem;
      width: 2rem;
      height: 2rem;
      float: left;
      margin-right: 1.2rem;
    }
    .date {
      float: right;
    }
    .action.more {
      display: none;
      text-align: center;
      line-height: 1.2rem;
      margin-top: 0.6rem;
    }
  }

  .submitting.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.modal-container {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    border-radius: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .modal-body {
    box-sizing: border-box;
    background: white;
    text-align: center;
    margin: 6rem auto 0;
    padding: 1rem;
    width: 80%;
  }
  .header {
    text-align: right;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: .6rem;
  }
  .actions {
    margin-bottom: 1rem;
  }
  a.btn {
    margin-top: 1rem;
    color: white;
    display: inline-block;
    background-color: #46b8da;
    box-sizing: border-box;
    padding: .5rem 1rem;
    width: 100%;
    &:hover {
      background-color: #3cb1d4;
    }
  }
}
